@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply bg-neutral-100;
    }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

}
@layer components{
  
  .LogIn {
    text-align: center;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    
  }
  
  .Header{
    font-weight: 600;
    font-size: 2.5rem;
  }
  .Form{
    display: flex;
    flex-wrap: wrap;
  }
}
